
h1 {
  text-align: center;
}
table {
    width: auto;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
   
  }
  
  th, td {
    border: 1px solid #012F33;
    text-align: left;
    padding: 8px;
  }
  
  thead {
    background-color: #D0F4FD;
  }
  
  tbody tr:nth-child(even) {
    background-color: #65CCCC;
  }
